In [3]:
def a(x, y): return x + y
print(a(2, 5))

7

In [41]:
#Add the n numbers using 'args' inbuilt variable
add= lambda *args: sum(args)
print(add(234,1234,4123,212314123))

212319714

In [11]:
length=lambda x: len(x)
length("Hello world")

11

In [22]:
#Convert the ist of strings to their squares:
str=[1,2,3,4,5,6]
for i in str:
    a=i**2
    print(a ,end=" ")

#Now using the lambda function we'll do the same using map function
str1=[2,3,4,5,6,7,8,9,10]
sq=list(map(lambda x:x**2,str1)) 
print("\n",sq)

1 4 9 16 25 36
 [4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
#Filter out the even numbers from the list.
l1=[1,2,4,2,5,3,432,43,23,2,24,23,23,2323,121,434,532,2323,12,42,1224,42222221,423,1213]
l2=[]
for i in l1:
    if i%2==0:
       l2.append(i)
    else:
        continue
print(l2)


#using lambda function using map method.
l1=[1,2,4,2,5,3,432,43,23,2,24,23,23,2323,121,434,532,2323,12,42,1224,42222221,423,1213]
even=list(map(lambda x:x%2==0,l1))
print(even)

# Now using lambda function using filter method.
l1=[1,2,4,2,5,3,432,43,23,2,24,23,23,2323,121,434,532,2323,12,42,1224,42222221,423,1213]
even=list(filter(lambda x:x%2==0,l1))
print(even)

[2, 4, 2, 432, 2, 24, 434, 532, 12, 42, 1224]
[False, True, True, True, False, False, True, False, False, True, True, False, False, False, False, True, True, False, True, True, True, False, False, False]
[2, 4, 2, 432, 2, 24, 434, 532, 12, 42, 1224]

In [27]:
#sort a list of characters by the alphabet and length of the word using lambda function.
list1=["apple","grappes","date","elderberry","guavava","cherry"]
sorted(list1,key=lambda x: len(x))

['date', 'apple', 'cherry', 'grappes', 'guavava', 'elderberry']

In [33]:
#Sort a dictionary of characters by using a specific keyword.

people=[{'name':"Jeetu",'age':21,'address':"hathoj",'contact_no':"3224242635"},
        {'name':"Ribhu",'age':25,'address':"benar",'contact_no':"7425768643"},
        {'name':"Piyush",'age':19,'address':"shyam nagar",'contact_no':"8257532596"},
        {'name':"Nikhil",'age':21,'address':"govindpura",'contact_no':"8653567776"}]
#print(people)
sorted(people,key=lambda x:x['age'])

[{'name': 'Piyush',
  'age': 19,
  'address': 'shyam nagar',
  'contact_no': '8257532596'},
 {'name': 'Jeetu', 'age': 21, 'address': 'hathoj', 'contact_no': '3224242635'},
 {'name': 'Nikhil',
  'age': 21,
  'address': 'govindpura',
  'contact_no': '8653567776'},
 {'name': 'Ribhu', 'age': 25, 'address': 'benar', 'contact_no': '7425768643'}]

In [37]:
#Find max value in the dictionary using lambda function.
dict={'a':10,'b':30,'c':24,'d':44,'e':50,'f':76}
max(dict,key=lambda x:dict[x])

'f'

In [45]:
#Function in the lambda function //Higher Order function.
f1=lambda x,fun:fun(x)
f1(20,lambda x:x*x)

400

In [52]:
a=lambda x:(x%2 and 'odd' or 'even' )
a(29)

'odd'