In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('Movieratingdata1.csv')
df1

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [4]:
df1.isnull()

    USER_ID  MOVIE_ID  MOVIE_TITLE  PRODUCTION_YEAR  GENRES  RATING
0     False     False        False            False   False    True
1      True      True         True             True    True    True
2     False     False         True            False    True    True
3     False     False         True            False    True   False
4     False     False         True            False   False   False
5     False     False         True            False   False   False
6     False     False         True            False   False   False
7     False     False         True            False   False   False
8     False      True         True            False   False   False
9     False     False        False            False   False   False
10    False     False         True            False   False   False
11    False     False        False            False   False   False

In [5]:
df1.dropna(how = 'any')

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [6]:
df1.dropna(how='all')

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [7]:
df1.fillna(method = 'ffill')

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,1.0,4642044,Riot,2015,Action,NaN
2,3.0,not value,Riot,2014,Action,NaN
3,4.0,1390411,Riot,2015,Action,5
4,5.0,6306064,Riot,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,Riot,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,Riot,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,Riot,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,462504,Riot,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [8]:
df1.fillna(method = 'bfill', inplace =True)
df1

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,5
1,3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
2,3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
3,4.0,1390411,The Revenant,2015,Action|Adventure|Biography|Drama|Romance|Thriller,5
4,5.0,6306064,The Revenant,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,The Revenant,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,The Revenant,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,The Revenant,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,163225,The Revenant,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [9]:
x = df1['PRODUCTION_YEAR'].isnull()
x

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
Name: PRODUCTION_YEAR, dtype: bool

In [10]:
df1['RATING'].dropna()

0                 5
1                 5
2                 5
3                 5
4                 4
5                 5
6     not available
7       not mension
8                10
9                 9
10                9
11                6
Name: RATING, dtype: object

In [11]:
df1.set_index('USER_ID',inplace = True)

In [12]:
df1

,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
USER_ID,,,,,
1.0,4642044,Riot,2015,Action,5
3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
4.0,1390411,The Revenant,2015,Action|Adventure|Biography|Drama|Romance|Thriller,5
5.0,6306064,The Revenant,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
6.0,6306064,The Revenant,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
7.0,2719848,The Revenant,2015,Action|Adventure|Biography|Drama|Thriller,not available
8.0,462504,The Revenant,2006,Action|Adventure|Biography|Drama|War,not mension
9.0,163225,The Revenant,2020,Action|Adventure|Biography|Drama|Western,10
10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11.0,1663202,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [13]:
df1['RATING'].dropna(inplace = True)
df1

,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
USER_ID,,,,,
1.0,4642044,Riot,2015,Action,5
3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
3.0,not value,The Revenant,2014,Action|Adventure|Biography|Drama|Romance|Thriller,5
4.0,1390411,The Revenant,2015,Action|Adventure|Biography|Drama|Romance|Thriller,5
5.0,6306064,The Revenant,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
6.0,6306064,The Revenant,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
7.0,2719848,The Revenant,2015,Action|Adventure|Biography|Drama|Thriller,not available
8.0,462504,The Revenant,2006,Action|Adventure|Biography|Drama|War,not mension
9.0,163225,The Revenant,2020,Action|Adventure|Biography|Drama|Western,10
10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11.0,1663202,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [14]:
df1['RATING']

USER_ID
1.0                 5
3.0                 5
3.0                 5
4.0                 5
5.0                 4
6.0                 5
7.0     not available
8.0       not mension
9.0                10
10.0                9
11.0                9
12.0                6
Name: RATING, dtype: object

In [15]:
df1['RATING'].replace('not available', '5',inplace=True)
df1['RATING'].replace('not mension', '5',inplace =True)
df1['RATING'].mean()

462954625916.3333